.footer{
    background-color: aliceblue;
    margin-top: 3rem;
    padding: 1.5rem 0;
}
.footer_main{
    display: grid;
    grid-template-columns: 60fr 20fr 20fr;
    width: 85vw;
    gap: 1rem;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    align-items: center;
}
.footer_main_txt{
    width: 55%;
}
.footer_main_txt p{
    line-height: 2;
    margin-top: 0.3rem;
}
.footer_main ul li{
    line-height: 1.8;
    list-style: none;
    cursor: pointer;
}
.footer_base{
    padding: 2rem 0;
    text-align: center;
    font-size: 1.1rem;
}


.social_links_wrapper li{ 
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: bold;
}

.social_links_wrapper li ion-icon{
    font-size: 1.4rem;
    color: #075d77;
}


@media (max-width: 1090px) {
    .footer_main_txt{
        width: 70%;
    }
}

@media (max-width: 860px) {
    .footer_main_txt{
        width: 75%;
    }
}

@media (max-width: 805px) {
    .footer_main{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1.5rem 0;
    }
    .footer_base{
        padding: 1rem 0;
    }
    .footer_main_txt{
        width: 55%;
    }
}

@media (max-width: 720px) {
    .footer_main_txt{
        width: 65%;
    }
}

@media (max-width: 595px) {
    .footer_main_txt{
        width: 75%;
    }
}

@media (max-width: 500px) {
    .footer_main_txt{
        width: 85%;
    }
}

@media (max-width: 465px) {
    .footer_main_txt{
        width: 95%;
    }
}